body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #f8f8f8;
  }
  
  form {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 30px;
  }
  

button{
    margin-left: 10px;
    color: white;
    border-radius: 5px;
    background-color: #4CAF50;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
  }

button:hover {
    background-color: #45a049;
}
  

ul {
    list-style-type: none;
    padding: 0;
}
  
li {
    transition: background-color 0.3s ease;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}
  
li:hover {
    background-color: #f5f5f5;
}